:root {
  background: #000;
  background-color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}